main{
    padding-left: 15px;
    padding: bottom 5px; ;
}
.title {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}
.mobile-unicorn {
    display: block;
    margin: 70px auto;

}
.content {
}
.more {
    width: 120px;
    height: 120px;
    display: block;
    background-color:red;
    color:white;
    padding: 40px 10px;
    font-size: 16px;
    font-weight: 700;
}
.more img{
    margin-top: 10px;
}
.text {
    width: 50%;
    font-weight: 600;
}
.unuicorn-big{
    display: none;
}
.main-social{
    display: none;
}
@media screen and (min-width: 1200px){

}
@media screen and (min-width: 768px){
.mobile-unicorn{
    display: none;
}
.unuicorn-big{
    display: block;
    margin-left: 100px;
}
.content{
    flex-direction: row;
}
.title {
    font-size: 72px;
}
.text{
    margin-left: 30px;
    width: 45%;
    
}
.main-social{
    display: inline-block;
}
.flex{
   margin-top: 50px;  
   display: flex;
}
}
